<!doctype html>
<html lang="en" ng-app="MyMoviesApp">
<head>
<meta charset="utf-8">
<title>My Movies Application - Shows</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css">
<link rel="stylesheet" type="text/css" href="css/navigation.css" />
<script src="js/angular.min.js"></script>
<script src="js/mymoviesappcontroller.js"></script>
</head>
<body>
    <div class="container">
        <h1>My Movies App - Shows</h1>    
        <div id="navigation"> 
		<ul> 
			<li><a href="users.html" id="current">Users</a></li> 
			<li><a href="movies.html">Movies</a></li> 
			<li><a href="theatres.html">Theatres</a></li> 
			<li><a href="shows.html">Shows</a></li>			   
		</ul> 
   		</div>       
        <div class="row">            
            <div class="span4">
                <!-- Show search -->
                <div ng-controller="ShowSearchController">
                    <h3><i class="icon-music"></i> Find Shows</h3>
                    <p ng-class="{'alert alert-error':errorStatus,'alert alert-success':!errorStatus}">{{messageText}}</p>
                    Show Time <input ng-model="searchShowTime" />
                    Movie Name<input ng-model="searchMovieName" /> 
                    Theatre Name <input ng-model="searchTheatreName" />
                    <a class="btn btn-success" ng-click="search()"><i class="icon-search"></i> Search</a>
                    <div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                	<th>Show ID</th>
                                    <th>Show Time</th>
                                    <th>Movie Name</th>
                                    <th>TheatreName</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="show in shows">
                                	<td>{{show.show.id}}</td>
                                    <td>{{show.show.showTime}}</td>
                                    <td>{{show.show.movie.movieName}}</td>
                                    <td>{{show.show.theatre.theatreName}}</td>
                                </tr>
                            </tbody>
                        </table>                        
                    </div>                         
                    <div class="muted">
                        <h6>DEBUG</h6>
                        <p>HTTP Response status {{httpStatus}}</p>
                        <p>HTTP Response body {{httpData | json}}</p>                      
                    </div>                    
                </div>                
            </div>
            <div class="span4">
                <!-- New Customer -->
                <div ng-controller="MyMoviesAppAddShowController">
                    <h3><i class="icon-music"></i> New Show Entry</h3>
                    <p ng-class="{'alert alert-error':errorStatus,'alert alert-success':!errorStatus}">{{messageText}}</p>
                    Show time <input ng-model="createShowTime" /><br/>
                    Movie Id  <input ng-model="createMovieId" /><br/>
                    Theatre Id <input ng-model="createTheatreId" /><br/>
                    <a class="btn btn-success" ng-click="create()"><i class="icon-plus-sign"></i> Create Show</a>
                    
                    
                    <div class="muted">
                        <h6>DEBUG</h6>
                        <p>HTTP Response status {{httpStatus}}</p>
                        <p>HTTP Response body {{httpData | json}}</p>                      
                    </div>
                </div>
            </div>
        </div>        
    </div>
</body>
</html>